<h1>TO-DO List</h1>
<p>Web API built with ASP.NET Core w/Entity In-Memory Db for persistance and Client side built with Angular 5.</p>
<p>These are two separate projects but are inside the same solution.</p>
<p>API: http://localhost:5000/api/todo</p>
<br>

<!-- {{todoList | json}} -->
<div class="form-group">
    <label for="text-input" class="col-2 col-form-label">Create New Task</label>
    <div class="col-10">
      <input #tdItem class="form-control" type="text" placeholder="Enter your next task here..." id="text-input">
      <button type="submit" class="btn btn-primary" (click)="addItem(tdItem.value); tdItem.value=''">Add</button>
    </div> 
</div>

<p *ngIf="!todoList"><em>Loading...</em></p>

<table class='table' *ngIf="todoList">
  <thead>
    <tr>
      <th>Description</th>
      <th>Status (Click to Change)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of todoList">
      <td>{{ item.name }}</td>
      <td><button type="button" [ngClass]="(!item.isComplete)?'btn btn-warning':'btn btn-success'" (click)="updateItem(item)">{{ (item.isComplete)? 'Completed' : 'Not Complete' }}</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteItem(item)">Delete</button></td>
    </tr>
  </tbody>
</table>