<h1>Edrei's Demo Project</h1>
<p>A single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<br>

<h4>Use navigation pane or use these links:</h4>
<div>
  <a [routerLink]='["/fetch-data"]'>
    <span class='glyphicon glyphicon-th-list'></span> Fetch data
  </a>
</div>
<br>
<div>
  <a [routerLink]='["/todo"]'>
    <span class='glyphicon glyphicon-list-alt'></span> To-Do List
  </a>
</div>

